.bottomComponent-container {
  width: 10rem;
  max-width: 16.1rem;
  height: 10rem;
  max-height: 16.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.31rem;
  color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  flex-shrink: 0;
  overflow: hidden;
}

/* LINECHART GRAPH */
.custom-tooltip {
  width: 39px;
  height: 25px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-tooltip .label {
  color: black;
  font-size: 0.5rem;
}

.legend-container {
  width: 9rem;
  position: absolute;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  font-size: 0.74rem;
  font-weight: 500;
  line-height: 1.5rem;
  opacity: 0.504;
}

/* RADARCHART GRAPH */
.recharts-polar-angle-axis-tick-value {
  transform: translateY(0.2rem);
}
