.error-container {
  color: #e60000;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
  position: absolute;
  top: 40%;
  left: 25%;
}

.error-container h1 {
  font-size: 10rem;
}

.lien-retour {
  text-decoration: none;
  color: #e60000;
}

.lien-retour::before {
  content: "👉";
  margin-right: 0.3rem;
}
